<div class="container">
    <h2>{{ isEditMode ? 'Modifier' : 'Créer' }} un organisateur</h2>
    <form [formGroup]="organisateurForm" (ngSubmit)="onSubmit()">
      <div class="input">
        <label>Nom :*</label>
        <input formControlName="nom" type="text">
      </div>
      <div class="input">
        <label>Prénom :*</label>
        <input formControlName="prenom" type="text">
      </div>
      <div class="input">
        <label>Nationalité :</label>
        <input formControlName="nationalite" type="text">
      </div>
      <div class="input">
        <label>Date de naissance :</label>
        <input formControlName="dateNaissance" type="datetime-local">
      </div>
      <div class="input">
        <label>Email :</label>
        <input formControlName="email" type="text">
      </div>
      <div class="input">
        <label>Téléphone :</label>
        <input formControlName="tel" type="text">
      </div>
      <button type="submit" class="add-btn">{{ isEditMode ? 'Mettre à jour' : 'Créer' }}</button>
    </form>
    <button routerLink="/organisateurs" class="retour">Retour</button>
  </div>