* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2 {
    margin: auto;
    text-align: center;
}
table {
    margin: auto;
    width: 80%;
}

table tbody {
    text-align: center;
}