<div class="container">
    <h2>Liste des Concerts</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Capacité</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let concert of concerts">
                <td>{{ concert.id }}</td>
                <td>{{ concert.capacite }}</td>
                <td>{{ concert.description }}</td>
                <td>
                    <div class="buttons">
                        <button (click)="supprimerConcert(concert.id)">Supprimer</button>
                        <button [routerLink]="['/concerts/edit', concert.id]">Modifier</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button routerLink="/concerts/new" class="add-btn">Ajouter un concert</button>
</div>